*{
    margin: 15px;
    margin-left: 282px;
    padding: 0;
}


header img {
    /* background-repeat: no-repeat; */
    width: 273px;
    height: 103px;
    margin: 15px;
    margin-left: 337px;
    border: 0px solid black;
}

