*{
    margin: 0;
}
body{
    background-image: linear-gradient(to top, #0099CB 50%, #00C4F1 85% ) ;
    box-shadow: inset 0px 5px 11px #30A8C1;
}
.linhaCor{
    width: 100%;
    height: 1px;
    background-color: #69D2E7;
}


/* header nav {
    background-color: pink;
    width: 400px;
    height: 100px;
    margin: 5px;
    float: right;
}

header nav ul li{
    list-style: none;
    margin: 3px;
    padding: 30px;
    float: left;
    height: 300px;
} */

main{
    /* background-color: green; */
    width: 100%;
    float:left;
}

footer{

    width: 100%;
    height: 100px;
    clear: left;

}

.esquerda{
    /* background-color:aqua; */
    width: 50%;
    height:80vh;
    float: left;
}

.esquerda img{
    background-color:grey;
    margin: 50px;
    width:90%;
    height:400px;

}
.esquerda p, .esquerda h1{
    /* background-color:green; */
    margin: 0 50px;
    width:90%;
}

.direita{
    /* background-color: crimson; */
    height: 80vh;
    width: 50%;
    float: right;
}

.caixa {
    width: 90%;
    margin: 2.5%;
    background-color: azure;
    height: 150px;
}

.caixa img{
    width: 30%;
    height: 90%;
    margin: 1%;
    background-color: gray;
    float: left;
}

.caixa p, .caixa h1{
    width: 50%;
    margin: 1%;
    float: left;
}