*{
    margin: 268px;
    padding: 0;
}

body{
    background-image: linear-gradient(to top, #0099CB 50%, #00C4F1 85% ) ;
    box-shadow: inset 0px 5px 11px #30A8C1;
}
.menu {
    margin-left: 19%;
    width: 60%;
    background-image: linear-gradient(to top, #2D2D2D 50%, #5F5E64 60% );
    text-align: center;
    /* align-content: initial; */
    /* display: inline; */
    
}

.menu ul{

    display: flex;
    justify-content:space-around;
}

.menu li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* display: initial; */
    display: flex;
    justify-content:space-around;
}

.linhabranca {
    margin-left: 19%;
    width: 60%;
    height: 18px;
    background-color: white;
    text-align: center;
    /* align-content: initial; */
    /* display: inline; */
    
}

.textoeimagem
{
    margin-left: 19%;
    width: 60%;
    height: 160px;
    background-color: #E6E6E6;
    text-align: center;
    /* align-content: initial; */
    /* display: inline; */
    
}


.linhapreta
{
    margin-left: 19%;
    width: 60%;
    height: 20px;
    background-image: linear-gradient(to top, #2D2D2D 50%, #5F5E64 60% );
    text-align: center;
    /* align-content: initial; */
    /* display: inline; */
    
}