footer{
    width: 100%;
    text-align: center;
    background: linear-gradient(to left, #3B1209, #571B0E, #752513,  #AD361C);
    color:white;    
}


/* Bruno Bergamaschi
   Guilherme Lizo
   Ricardo Kreutzer
   Michele cruz
   Marcus Vinicius */ 